mixin form-change-multi(path)
    form(
        action=path
        method="post"
        form-change-multi  
        class="mb-4"  
    ) 
        .d-flex.align-items-start
            .form-group 
                select(name="type" class="form-control" ) 
                    option(value="active") Hoạt động
                    option(value="inactive") Dừng hoạt động  
            .form-group.mx-3 
                input(type="text" name="ids" value="" class="form-control d-none")
            button(type="sumbit" class="btn btn-primary") Áp dụng